#grilla {
   display: grid;
   grid-template-rows: 400px 1fr 1fr 75px; 
   grid-template-columns: 30% 40% 30%; 
   grid-template-areas:
     "navImagen3 galeria galeria"
     "navImagen3 imagen1 publica"
     "navImagen3 imagen2 publica"
     "navImagen3 piePagina piePagina";  
   justify-content: center;
   align-content: center;
   background-position: center;
   width: $ancho;
}

.border {
   border: 1px solid black;
}

header#galeria {
   grid-area: galeria;
   background-image: url("Imágenes/imagGrande5.png");
   background-size: cover;
   background-position: center;
   color: black;
   font-weight: bolder;
   font-style: oblique;
   text-shadow: 1px 1px #558ABB;
}

section#imagen1 {
   grid-area: imagen1;
   background-image: url("Imágenes/imag3.png");
   background-position: center;
   background-size: cover;
   color: white;
   font-weight: bolder;
   text-shadow: 3px 3px #558ABB; 
   justify-content: center;
   align-content: center;
  
}

section#imagen2 {
   grid-area: imagen2; 
   background-image: url("Imágenes/imag4.png");
   background-position: center;
   background-size: cover;
   color: white;
   font-weight: bolder;
   text-shadow: 3px 3px #558ABB; 
   justify-content: center;
   align-content: center;
     
}

nav#navImagen3 {
   grid-area: navImagen3;
   background-image: url("Imágenes/imag5.png");
   background-position: center;
   color: black;
   font-weight: bolder;
   text-shadow: 1px 1px #558ABB;
   text-align: center;
}

aside#publica {
   grid-area: publica;
   background-image: url("Imágenes/imag6.png");
   background-position: center;
   background-size: cover;
   color: black;
   text-shadow: 1px 1px #558ABB;
   font-weight: bolder;
   font-style: oblique;
}

footer#piePagina {
   grid-area: piePagina;
   background-image: url("Imágenes/imag1.png");
   color: orange;
   text-shadow: 1px 1px #558ABB;
   font-weight: bolder;
}
/*Fin Grilla*/



/* Formateo con flex contenedores de texto 
para indicar las novedades destacadas*/

.textos {
   width: $ancho;
   margin-bottom: 70px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   background-position: center;
}
.textos div{
   background-color: #9fffcb;
   width: $ancho/2; /*245*/
   height: 45vh;
   display: flex;
   color: black;
   flex-direction:column;
   padding: 40px;
   
}

.textos div h5{
   width: 200px;/*200*/
   height: 30vh;
   font-size: 20px;
   margin-bottom: 20px;
   border-bottom: solid 2px #00a5cf;
   padding-bottom: 30px;
   
}

.textos div a{
   width: 200px;/*200*/
   height: 60vh;
   font-size: 15px;
   margin-bottom: 30px;
   padding-bottom: 30px;
   line-height: 20px; 
   
}

/*Botón del texto Pág de Novedades*/
.escala {
  transform: scale(0.5); /* Igual que: scaleX(0.5) scaleY(0.5) */
  transform: skew(-8deg); /* Igual skewX(8deg) */
  background-color: #25A18E;
  text-align: center;
}

/*Fin formateo textos*/

/*Aplico Grid a Página Departamentos*/
#grillaDeptos {
   display: grid;
   grid-template-rows: 200px 100px 100px 100px; 
   grid-template-columns: 40% 30% 30%;
   grid-template-areas:
     "navIdiomas galeria2 galeria2"
     "navIdiomas lenguaje naturales"
     "navIdiomas matem naturales"
     "navIdiomas educFísica educFísica"; 
   justify-content: center;
   align-content: center; 
   background-position: center;
   width: $ancho;
}

header#galeria2 {
   grid-area: galeria2;
   background-image: url("Imágenes/sociales.png");
   background-size: cover;
   color: orange;
   font-weight: bolder;
   font-style: oblique;
   text-shadow: 1px 1px #558ABB;
   background-position: center;
 }

section#lenguaje {
   grid-area: lenguaje;
   background-image: url("Imágenes/Lenguaje.png");
   background-size: cover;
   color: white;
   font-weight: bolder;
   text-shadow: 3px 3px #558ABB; 
   background-position: center;    
}

section#matem {
   grid-area: matem; 
   background-image: url("Imágenes/matemática.png");
   background-position: center;
   background-size: cover;
   color: white;
   font-weight: bolder;
   text-shadow: 3px 3px #558ABB;
   background-position: center;   
}

nav#navIdiomas {
   grid-area: navIdiomas;
   background-image: url("Imágenes/idiomas.png");
   color: orange;
   font-weight: bolder;
   text-shadow: 1px 1px #558ABB;
   text-align: center;
   background-position: center;
}

aside#naturales {
   grid-area: naturales;
   background-image: url("Imágenes/naturales.png");
   background-size: cover;
   color: white;
   text-shadow: 1px 1px #558ABB;
   font-weight: bolder;
   font-style: oblique;
   background-position: center;
}

footer#educFísica {
   grid-area: educFísica;
   background-image: url("Imágenes/educFísica.png");
   color: orange;
   text-shadow: 1px 1px #558ABB;
   font-weight: bolder;
   background-position: center;
}