/*¡ F I R S T  M O B I L E --comentado en la home--! */

/* Versión Móvil */

@media (max-width: 767px)
{
  body .cuerpo
    { width:25%;
      margin:10px;
      padding:10px;
      float:left;
    }
}
/* Versión tablet */
@media (min-width: 768px) and (max-width: 991px)
{
  body .cuerpo 
    { width:50%;
      margin:10px;
      padding:10px;
      float:left; }
}
/*Versión escritorio */
@media (min-width: 992px) 
{ 
  body .cuerpo 
    { width:90%;
      margin:10px;
      padding:10px;
      display:block; }
}

