@charset "UTF-8";
html {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif; }

body {
  color: black;
  margin: 0 auto;
  width: 80%;
  padding: 0 auto; }

#centro {
  /*margin-left: 350px;*/
  width: 80%; }

h1 {
  color: black;
  width: 80%;
  text-align: center;
  border: 1px solid black;
  background: linear-gradient(90deg, #5D6D7E, #ccc);
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
  animation-duration: 2s;
  animation-name: seVe; }

@keyframes seVe {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

h2 {
  font-family: Arial, letter-spacing;
  color: black;
  width: 80%;
  text-align: center;
  border: 2px solid black;
  background-image: url("Imágenes/imagenPino.png");
  background-repeat: repeat-y;
  background-repeat: repeat;
  background-position: right;
  background-size: 10px; }

p {
  color: black;
  width: 80%;
  border: 1px solid black;
  font-style: italic;
  text-align: left;
  /*Aplico un gradiente top*/
  background: linear-gradient(to top, #ABEBC6, #ccc); }

h3 {
  color: #25A18E;
  width: 80%;
  border: 1px solid black;
  text-transform: uppercase;
  font-style: italic;
  line-height: 24px;
  line-height: underline overline;
  letter-spacing: 2px;
  word-spacing: 5px; }

h4 {
  color: #145A32;
  width: 80%;
  border: 1px solid black;
  font-style: italic;
  font-weight: 2px;
  /*Aplico un gradiente top*/
  background: linear-gradient(to top, #ABEBC6, #ccc); }

h5 {
  color: black;
  width: 80%;
  font-style: italic;
  font-weight: 2px;
  background: linear-gradient(90deg, #25a18e, #ccc); }

.Italica {
  font-style: italic;
  color: #145A32; }

.linkAzul {
  color: #0000FF;
  font-style: italic; }

/*Aplico Bem *--*/
.institucion__img {
  color: black;
  border: 1px solid black;
  font-style: italic; }

.institucion__imagenEscuela1 {
  color: black;
  width: 80%;
  border: 1px solid black;
  font-style: italic; }

.institucion__img-titulo {
  color: black;
  width: 80%;
  border: 1px solid black;
  font-style: italic; }

/*Aplico Bem *--*/
.nivel {
  width: 80%; }

.nivel__nivel1 {
  color: #CD5C5C;
  width: 80%;
  border: 1px solid black;
  text-transform: uppercase;
  font-style: italic;
  line-height: 24px;
  line-height: underline overline;
  letter-spacing: 2px;
  word-spacing: 5px; }

.nivel__roles {
  color: #800000;
  list-style-type: square;
  font-style: italic; }

/*fin Bem *--*/
ul.navbar li {
  background-color: white;
  background-position: center;
  background-size: 12px;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid black; }

ul.navbar a {
  text-decoration: none;
  text-align: center; }

/*Menú ppal */
nav a {
  text-decoration: none;
  color: inherit;
  font-size: 12px; }

nav li {
  display: inline-block;
  alignment-baseline: left;
  width: 60px;
  /*readaptación de altura de 
      esta fila del navegador luego de
      aplicar Bootstrap*/
  height: 20px;
  padding: 5px 10px;
  background-color: white;
  border: 1px solid #000;
  text-align: center;
  color: #fff;
  position: relative;
  bottom: 20px;
  right: 20px; }

nav li:hover {
  background-color: #fff;
  color: #000; }

nav li > ul {
  display: none;
  text-align: center; }

nav li:hover > ul {
  display: block;
  position: absolute;
  top: 20px;
  left: 2px; }

/*Menú submenú de la página escuela Información*--*/
#menu ul {
  background-color: white;
  list-style: none; }

/* Se refiere a la caja del submenú desplegable*/
#menu ul li {
  position: relative;
  float: center;
  top: 0px;
  color: black;
  margin: 1px 1px;
  padding: 15px 15px;
  text-decoration: left;
  text-align: center; }

#menu ul li:hover {
  color: black; }

/* Se refiere al submenú desplegable*/
#menu ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 1rem 0;
  text-align: center;
  margin: 3px; }

#menu ul li:hover > ul {
  display: block; }

/*Aplicado en la página de Instalaciones*/
/* aplico each sobre la caja */
.navBarCont {
  background-color: #f2d5ea; }

/* aplico for sobre el submenú */
.estructuraEdilicia-1 {
  width: 2em; }

.estructuraEdilicia-2 {
  width: 4em; }

.estructuraEdilicia-3 {
  width: 6em; }

.estructuraEdilicia-4 {
  width: 8em; }

.estructuraEdilicia-5 {
  width: 10em; }

/* Aplico map para colorear al desplegar la selección del submenú */
/*Defino el bucle para usar los valores del mapa*/
.estruc1 {
  background-color: #55acee; }

.estruc2 {
  background-color: #c0ebc4; }

.estruc3 {
  background-color: #d4a49f; }

.estruc4 {
  background-color: #55acee; }

.estruc5 {
  background-color: #c0ebc4; }

li {
  /* negro en las listas*/
  color: black;
  list-style-type: none;
  text-align: center;
  width: 80%; }

table {
  width: 80%; }

table tbody th {
  background-color: #25a18e;
  width: 80%; }

table tbody td {
  background-color: #9fffcb;
  text-align: center;
  width: 80%; }

ol {
  text-align: left;
  width: 80%; }

/*Aplicado en la página de Ingresos*/
/* aplico each*/
.secciones {
  background-color: #FFE4E1; }

.imagenes {
  background-color: #D5F5E3; }

.item {
  background-color: #D5F5E3; }

/*Aplicado sass en la página de Ingresos*/
.banner {
  background-color: #f2ece4;
  color: true; }
  body.dark .banner {
    background-color: #6b717f;
    color: #d2e1dd; }

.secciones {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 10rem;
  flex-grow: 10px; }

#imagenes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-between;
  align-items: center;
  width: 645px; }

.item {
  align-content: space-between;
  align-items: center;
  background-size: 10px;
  width: 645px;
  color: #ff0099; }

/* animación*/
/*Aplico operacione sass en la página Niveles/secciones*/
@keyframes un_efecto {
  50% {
    width: 300px;
    margin-left: 200px;
    background-color: #25a18e; } }

#animaNiveles {
  width: 400px;
  height: 50px;
  background-color: #9fffcb;
  text-align: center;
  animation-name: un_efecto;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 0s; }

ul.leyenda {
  display: flex;
  color: black;
  flex-direction: column;
  align-items: center; }

#grilla {
  display: grid;
  grid-template-rows: 400px 1fr 1fr 75px;
  grid-template-columns: 30% 40% 30%;
  grid-template-areas: "navImagen3 galeria galeria" "navImagen3 imagen1 publica" "navImagen3 imagen2 publica" "navImagen3 piePagina piePagina";
  justify-content: center;
  align-content: center;
  background-position: center;
  width: 645px; }

.border {
  border: 1px solid black; }

header#galeria {
  grid-area: galeria;
  background-image: url("Imágenes/imagGrande5.png");
  background-size: cover;
  background-position: center;
  color: black;
  font-weight: bolder;
  font-style: oblique;
  text-shadow: 1px 1px #558ABB; }

section#imagen1 {
  grid-area: imagen1;
  background-image: url("Imágenes/imag3.png");
  background-position: center;
  background-size: cover;
  color: white;
  font-weight: bolder;
  text-shadow: 3px 3px #558ABB;
  justify-content: center;
  align-content: center; }

section#imagen2 {
  grid-area: imagen2;
  background-image: url("Imágenes/imag4.png");
  background-position: center;
  background-size: cover;
  color: white;
  font-weight: bolder;
  text-shadow: 3px 3px #558ABB;
  justify-content: center;
  align-content: center; }

nav#navImagen3 {
  grid-area: navImagen3;
  background-image: url("Imágenes/imag5.png");
  background-position: center;
  color: black;
  font-weight: bolder;
  text-shadow: 1px 1px #558ABB;
  text-align: center; }

aside#publica {
  grid-area: publica;
  background-image: url("Imágenes/imag6.png");
  background-position: center;
  background-size: cover;
  color: black;
  text-shadow: 1px 1px #558ABB;
  font-weight: bolder;
  font-style: oblique; }

footer#piePagina {
  grid-area: piePagina;
  background-image: url("Imágenes/imag1.png");
  color: orange;
  text-shadow: 1px 1px #558ABB;
  font-weight: bolder; }

/*Fin Grilla*/
/* Formateo con flex contenedores de texto 
para indicar las novedades destacadas*/
.textos {
  width: 645px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-position: center; }

.textos div {
  background-color: #9fffcb;
  width: 322.5px;
  /*245*/
  height: 45vh;
  display: flex;
  color: black;
  flex-direction: column;
  padding: 40px; }

.textos div h5 {
  width: 200px;
  /*200*/
  height: 30vh;
  font-size: 20px;
  margin-bottom: 20px;
  border-bottom: solid 2px #00a5cf;
  padding-bottom: 30px; }

.textos div a {
  width: 200px;
  /*200*/
  height: 60vh;
  font-size: 15px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  line-height: 20px; }

/*Botón del texto Pág de Novedades*/
.escala {
  transform: scale(0.5);
  /* Igual que: scaleX(0.5) scaleY(0.5) */
  transform: skew(-8deg);
  /* Igual skewX(8deg) */
  background-color: #25A18E;
  text-align: center; }

/*Fin formateo textos*/
/*Aplico Grid a Página Departamentos*/
#grillaDeptos {
  display: grid;
  grid-template-rows: 200px 100px 100px 100px;
  grid-template-columns: 40% 30% 30%;
  grid-template-areas: "navIdiomas galeria2 galeria2" "navIdiomas lenguaje naturales" "navIdiomas matem naturales" "navIdiomas educFísica educFísica";
  justify-content: center;
  align-content: center;
  background-position: center;
  width: 645px; }

header#galeria2 {
  grid-area: galeria2;
  background-image: url("Imágenes/sociales.png");
  background-size: cover;
  color: orange;
  font-weight: bolder;
  font-style: oblique;
  text-shadow: 1px 1px #558ABB;
  background-position: center; }

section#lenguaje {
  grid-area: lenguaje;
  background-image: url("Imágenes/Lenguaje.png");
  background-size: cover;
  color: white;
  font-weight: bolder;
  text-shadow: 3px 3px #558ABB;
  background-position: center; }

section#matem {
  grid-area: matem;
  background-image: url("Imágenes/matemática.png");
  background-position: center;
  background-size: cover;
  color: white;
  font-weight: bolder;
  text-shadow: 3px 3px #558ABB;
  background-position: center; }

nav#navIdiomas {
  grid-area: navIdiomas;
  background-image: url("Imágenes/idiomas.png");
  color: orange;
  font-weight: bolder;
  text-shadow: 1px 1px #558ABB;
  text-align: center;
  background-position: center; }

aside#naturales {
  grid-area: naturales;
  background-image: url("Imágenes/naturales.png");
  background-size: cover;
  color: white;
  text-shadow: 1px 1px #558ABB;
  font-weight: bolder;
  font-style: oblique;
  background-position: center; }

footer#educFísica {
  grid-area: educFísica;
  background-image: url("Imágenes/educFísica.png");
  color: orange;
  text-shadow: 1px 1px #558ABB;
  font-weight: bolder;
  background-position: center; }

.b-example-divider {
  height: 3rem;
  border-width: 1px 0;
  width: 645px; }

@media (min-width: 992px) {
  .rounded-lg-3 {
    border-radius: .3rem;
    width: 100%; } }

/*¡ F I R S T  M O B I L E --comentado en la home--! */
/*Versión escritorio */
@media (min-width: 992px) {
  body.cuerpo {
    width: 90%;
    display: block; } }

/* Versión tablet */
@media (min-width: 768px) and (max-width: 991px) {
  body.cuerpo {
    width: 100%;
    float: left; } }

/* Versión Móvil */
@media (max-width: 767px) {
  body.cuerpo {
    width: 100%; } }
