$ancho: 80%;
$azul: #003399;


html {
  font-size: 1rem; 
  font-family: "Open Sans", sans-serif; 
  }

body {
  color: black;
  margin: 0 auto;
  width: $ancho;
  padding: 0 auto;
}

#centro {
  /*margin-left: 350px;*/
  width: $ancho;
}
