

li {/* negro en las listas*/
  color: black;
  list-style-type: square;
}

table tbody th{
  background-color: #25a18e;
}
table tbody td {
  background-color: #9fffcb;
  text-align: center;
}

ol {text-align: left;
}
