/*¡ F I R S T  M O B I L E --comentado en la home--! */

/*Versión escritorio */
@media (min-width: 992px) 
{ 
  body.cuerpo 
    { width:90%;
      display:block; }
}

/* Versión tablet */
@media (min-width: 768px) and (max-width: 991px)
{
  body.cuerpo 
    { width: 100%;
      float:left; }
}

/* Versión Móvil */

@media (max-width: 767px)
{
  body.cuerpo
    { width: 100%;
    }
}
