h1 {
  color: black;
  width: $ancho;
  text-align: center;
  border: 1px solid black;
  background: linear-gradient(90deg,#5D6D7E,#ccc);
  font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif;
  animation-duration: 2s;
  animation-name: seVe;
}
@keyframes seVe {
   0% {
     opacity: 0;
   }
   100% {
     opacity: 1;
   }
}

h2 {font-family: Arial, letter-spacing;
  color: black;
  width: $ancho;
  text-align: center;
  border: 2px solid black;
  background-image:url("Imágenes/imagenPino.png");
  background-repeat: repeat-y;
  background-repeat: repeat;
  background-position: right;
  background-size:10px;
}


p {
  color: black;
  width: $ancho;
  border: 1px solid black;
  font-style: italic;
  text-align: left;
  /*Aplico un gradiente top*/
  background:  linear-gradient(to top, #ABEBC6, #ccc);
}

h3 {
  color: #25A18E;
  width: $ancho;
  border: 1px solid black;
  text-transform: uppercase;
  font-style: italic;
  line-height:24px;
  line-height:underline overline;
  letter-spacing: 2px;
  word-spacing: 5px;
}

h4 {
  color: #145A32;
  width: $ancho;
  border: 1px solid black;
  font-style: italic;
  font-weight: 2px;
  /*Aplico un gradiente top*/
  background:  linear-gradient(to top, #ABEBC6, #ccc);
}

h5 {
  color: black;
  width: $ancho;
  font-style: italic;
  font-weight: 2px;
  background: linear-gradient(90deg,#25a18e,#ccc); 
}

.Italica {
   font-style: italic;
   color: #145A32;
}

.linkAzul {
  color:#0000FF;
  font-style: italic;
}

/*Aplico Bem *--*/

.institucion__img{
  color: black;
  border: 1px solid black;
  font-style: italic;
}
.institucion__imagenEscuela1{
  color: black;
  width: $ancho;
  border: 1px solid black;
  font-style: italic;
 }
.institucion__img-titulo{
  color: black;
  width: $ancho;
  border: 1px solid black;
  font-style: italic;
}

/*Aplico Bem *--*/
.nivel{
 width: $ancho; 
}

.nivel__nivel1 {
  color: #CD5C5C;
  width: $ancho;
  border: 1px solid black;
  text-transform: uppercase;
  font-style: italic;
  line-height:24px;
  line-height:underline overline;
  letter-spacing: 2px;
  word-spacing: 5px;
}

.nivel__roles{
  color: #800000;
  list-style-type: square;
  font-style: italic;
}

/*fin Bem *--*/